
        body {
            /* Fonte do texto */
            font-family: Arial, 'Times New Roman', Times, serif;
            /* Margem ao redor do corpo */
            margin: 30px;
            /* Preenchimento interno do corpo */
            padding: 20px;
            /* Cor de fundo da página */
            background-color: #4481b9;
        }

        h1{
            /* Fonte do título */
            font-family:Arial, Helvetica, sans-serif;
            /* Tamanho da fonte do titulo */
            font-size: 100px;
            /* Alinhamento centralizado do titulo */
            text-align:center;
            color:rgb(0, 0, 0);
        }

        .form-container {
            /* Usando flexbox */
            display: flex; 
            /* Alinhar os itens */
            align-items: flex-start; 
        }

        form {
            /* O formulário vai ocupar espaço disponível */
            flex:1;
            /* Cor de fundo do formulário */
            background: rgb(151, 88, 88);
            /* Preenchimento interno do formulário */
            padding: 30px;
            /* Bordas arredondadas do formulário */
            border-radius: 50px;
            /* Expaço entre formulário e imagem */
            margin-right: 20px;
        }

        img {
            /* Limita a largura da imagem */
            max-width: 200px; 
            /* Mantém a proporção da imagem */
            height: auto; 
        }

        label {
            /* Localização do rótulo */
            display:inline;
            /* Tamalho da fonte */
            font-size: 30px;
            /* Estilo da fonte */
            font-style: oblique;
            /*cor do texto*/
            color: rgb(0, 0, 0);
        }

        input[type="text"],
        input[type="email"],
        input[type="number"] {
            /* Tamanho da letra */
            font-size: larger;
            /* Largura total dos campos */
            width: 50%;
            /* Preenchimento interno dos campos */
            padding: 10px;
            /* Espaço abaixo dos campos */
            margin-bottom: 15px;
            /* Borda ao redor dos campos */
            border: 1px rgb(0, 0, 0);
            /* Bordas dos campos */
            border-radius: 10px;
        }

        input[type="submit"] {
            /* Cor de fundo verde do botão */
            background-color: #28a745;
            /* Cor do texto do botão */
            color: white;
            /* Preenchimento interno do botão */
            padding: 10px 15px;
            /* Bordas arredondadas do botão */
            border-radius: 10px;
            /* Muda o cursor ao passar sobre o botão */
            cursor: pointer;
        }
        /* Estilo do botão ao passar o mouse */
        input[type="submit"]:hover {
            /* Cor de fundo verde mais escuro ao passar o mouse */
            background-color: #218838;
        }


